node_modules
.next
.env
.env.local
.env.production.local
.env.development.local
.git
.gitignore
README.md
Dockerfile
Containerfile
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tsbuildinfo
next-env.d.ts
coverage
.nyc_output
.cache
dist
build
